{% extends 'app/base.html' %}
{% load crispy_forms_tags %}
{% block navbar %}{% endblock %}
{% block content %}
<h1 class="d-flex justify-content-center align-items-center mt-5">Login</h1>
<h3 class="d-flex justify-content-around align-items-center mt-5 mb-5">
  {% block title%} To Do Tracker {% endblock title %}
</h3>
<div class="mx-auto col-lg-4">
  <form method="post">
    {% csrf_token %} {{form|crispy}}
    <input type="submit" value="Login" class="btn btn-success" />
  </form>
  <div class="mt-2">
    Not registered yet? <a href="{% url 'register' %}"> Register Now</a>
  </div>
</div>
{% endblock content %} {% block footer %} Copyright - To Do Tracker {%endblock%}