{% extends 'app/base.html' %} {% load crispy_forms_tags %} {% block content %}
<h1 class="d-flex justify-content-center align-items-center mt-5">
  Profile Photo
</h1>
<h3 class="d-flex justify-content-around align-items-center mt-5 mb-5">
  {% block title%} {{request.user}} {% endblock title %}
</h3>
<div class="mx-auto col-lg-4">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %} {{form|crispy}}
    <input type="submit" value="Upload" class="btn btn-success" />
  </form>
</div>
{% endblock content %}
