{% extends 'app/base.html' %} {% load crispy_forms_tags %} {% block content %}
<h1 class="d-flex justify-content-center align-items-center mt-5">Register</h1>
<h3 class="d-flex justify-content-around align-items-center mt-5 mb-5">
  {% block title%} To Do Tracker {% endblock title %}
</h3>
<div class="mx-auto col-lg-6">
  <form method="post">
    {% csrf_token %} {{form|crispy}}
    <input type="submit" value="Register" class="btn btn-info" />
  </form>
  <div class="mt-2">
    Already registered? <a href="{% url 'login' %}">Login</a>
  </div>
</div>
{% endblock content %}
